*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#222;
}
.navbar{
    width:100%;
    padding:20px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
}
.logo h2{
    color:#0c0c0c;
    font-size:34px;
    font-weight:700;
}
.logo span{
    color:#d4af37;
}
.logo p{
    color:#1e1d1d;
    font-size:14px;
    text-transform:uppercase;
}
.nav-links{
    display:flex;
    gap:40px;
}
.nav-links a{
    color:#1f1e1e;
    font-size:16px;
    font-weight:700;
    cursor: pointer;
    text-decoration: none;
}
.nav-links a:hover{
    transform:translateY(-8px)
}
.hero{
    position:relative; /*position: relative, the overlay stay inside the hero section.*/
    width:100%; 
    height:50vh; /*50vh = half screen height*/
    background:url("assets/hero.jpg");
    background-size:cover; /*It tells the image: Cover the whole hero section.*/
    background-position:center; /*The middle of the image stays visible*/
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    padding:0 8%;
}
.overlay{
    position:absolute;
    top:0; /*Moves the overlay to the top edge of its parent*/
    left:0; /*Moves the overlay to the left edge of its parent*/
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.55);
}
.hero-content{
    position:relative;
    z-index:2; /*z-index controls which layer appears on top. like
                Layer 3  →  Hero Content (Heading, Button)
                Layer 2  →  Dark Overlay
                Layer 1  →  Hero Background Image*/
    max-width:650px;
}
.hero-content h1{
    color:#ffffff;
    font-size:65px;
    line-height:1.2;
    font-weight:700;
    margin-bottom:25px;
}
.hero-content span{
    color:#d4af37;
}
.hero-content p{
    color:#f2f2f2;
    font-size:18px;
    line-height:32px;
    margin-bottom:40px;
}
.btn{
    display:inline-block;
    background:#d4af37;
    color:#ffffff;
    padding:15px 40px;
    border-radius:50px;
    font-weight:600;
    transition:.4s;
    text-decoration: none;
}
.btn:hover{
    background:#b88a16;
    transform:translateY(-5px);
}
.gallery{
    padding:50px 8% 100px;
    background:#f8f8f8;
}
.section-title{
    text-align:center;
    margin-bottom:20px;
}
.section-title h2{
    font-size:35px;
    color:#222;
    margin-bottom:15px;
}
.section-title p{
    color:#666;
    font-size:18px;
}
.gallery-menu{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:50px;
}
.gallery-menu button{
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:#e6e6e6;
    color:#333;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}
.gallery-menu .active{
    background:#d4af37;
    color:#ffffff;
}
.gallery-menu button:hover{
    background:#d4af37;
    color:#ffffff;
}
.gallery-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.gallery-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    transition:.5s;
    display:block;
}
.gallery-card:hover img{
    transform:scale(1.1);
}
.about{
    padding:60px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    background:#ffffff;
}
.about-image{
    flex:1;
}
.about-image img{
    width:100%;
    height: 400px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}
.about-content{
    flex:1;
}
.about-content h2{
    font-size:20px;
    margin-bottom:25px;
    color:#222;
}
.about-content p{
    font-size:20px;
    color:#666;
    line-height:32px;
    margin-bottom:20px;
}
.services{
    padding:30px 8%;
    background:#f8f8f8;
}
.services-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:30px;
}
.service-card{
    background:#ffffff;
    padding:10px 15px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.4s;
}
.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}
.service-icon{
    font-size:30px;
    margin-bottom:15px;
}
.service-card h3{
    font-size:21px;
    margin-bottom:10px;
    color:#222;
}
.service-card p{
    color:#666;
    line-height:15px;
    font-size:15px;
}
.cta{
    position:relative;
    height:250px;
    background:url("assets/hero.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.cta-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.65);
}
.cta-content{
    position:relative;
    z-index:2;
    max-width:700px;
    color:#ffffff;
}
.cta-content h2{
    font-size:35px;
    margin-bottom:10px;
}
.cta-content p{
    font-size:15px;
    line-height: 20px;
    margin-bottom:20px;
    color:#f2f2f2;
}
footer{
    background:#111;
    color:#ffffff;
    padding:70px 8% 20px;
}
.footer-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}
.footer-box h2{
    font-size:34px;
    margin-bottom:20px;
}
.footer-box span{
    color:#d4af37;
}
.footer-box h3{
    font-size:22px;
    margin-bottom:20px;
}
.footer-box p{
    color:#cfcfcf;
    line-height:28px;
    margin-bottom:10px;
}
.footer-box a{
    display:block;
    color:#cfcfcf;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}
.footer-box a:hover{
    color:#d4af37;
    padding-left:8px;
}
.copyright{
    border-top:1px solid white;
    margin-top:50px;
    padding-top:20px;
    text-align:center;
}
.copyright p{
    color:#bdbdbd;
    font-size:15px;
}