*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#f5f5f5;
    color:#222;
}

.header{
    text-align:center;
    margin-top:20px;
    font-weight:700;
}
nav{
    background:#2563EB;
    padding:18px 40px;
    display:flex;
    justify-content:flex-end;
    gap:25px;
    position:sticky;
    top:0;
    z-index:1000;
}
nav a{
    color:white;
    text-decoration:none;
    font-weight:500;
    padding:10px 15px;
    border-radius:8px;
    transition:.3s;
}

nav a:hover{
    background:white;
    color:#2563EB;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px;
    background:white;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.1);
    margin:30px;
}
.profile-pic{
    width:220px;
    height:220px;
    border-radius:50%;
    border:5px solid #323334;
}
.hero h4{
    color:#2563EB;
    font-size:20px;
}
.hero h1{
    font-size:50px;
    margin:10px 0;
}
.hero h2{
    color:#555;
    margin-bottom:20px;
}
.hero p{
    line-height:1.8; /*It controls the space between lines of text.*/
    margin-bottom:25px;
}
.hero a{
    display:inline-block;
    background:#2563EB;
    color:white;
    padding:14px 28px;
    border-radius:10px;
    text-decoration:none;
    margin-right:15px;
    transition:.3s;
    box-shadow:0 8px 20px rgba(37,99,235,.35);
}
.hero a:hover{
    background:#d6d8b0;
}
.about h2{
    text-align:center;
    color:#2563EB;
    margin-bottom:40px;
    text-decoration: underline;

}
.about{
    width:100%;
    padding:60px 60px;
    background:#ffffff;
    line-height:1.8;
    text-align: center;
    background-color: #dbdcde;
}
.skills{
    width:100%;
    padding:60px;
    background:#ffffff;
    line-height:1.8;
}
#skills{
    padding:60px 60px;
    line-height:1.8;
}

#skills h2{
    text-align:center;
    color:#2563EB;
    margin-bottom:40px;
    text-decoration: underline;
}
.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}
.skill-box{
    background:#2563EB;
    color:white;
    padding:15px 25px;
    border-radius:12px;
    width:150px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.skill-box:hover{
    background:#df8f3f;
}
.project-image{
    width:100%;
    max-width:850px;
    height:auto;
    border-radius:15px;
    display:block;
    margin:auto;
}
.projects h2{
    text-align:center;
    color:#2563EB;
    margin-bottom:40px;
    text-decoration: underline;
}
.project-card h3{
    text-align:center;
    color:#2563EB;
}
.project-card p{
    line-height:1.8;
    font-size:16px;
    text-align:center;
}
#contact{
    padding:80px 60px;
    background:#eaeced;
}
#contact h2{
    text-align:center;
    color:#2563EB;
    margin-bottom:50px;
    text-decoration: underline;
}

.contact-container{
    display:flex;
    justify-content:center;
    align-items:center;

}
.contact-info{
    width:35%;
    align-self:flex-start;   /* Moves it to the top */
    padding-top:35px;        /* Adjust value as needed (20px–40px) */
    line-height:1.8;
    font-size:18px;
}
.contact-form{
    background:white;
    padding:30px;
    border-radius:1px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}
.btn{
    background-color:white;
    color:black;
}
.btn:hover{
    background-color:#2563EB;
    color:white;
}