*{
    margin:0;
    padding:0;  
}
body{
    font-family:'Poppins',sans-serif;
}
img{
    width:100%;   
}
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:white;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
}
.nav-head{
    font-size:30px;
    font-weight:bold;
    color:#e85d04;
}
.nav-bar{
    display:flex;
    gap:40px;
}
.nav-bar a{
    color:#333;
    font-weight:500;
}
.btn{
    background:#e85d04;
    color:white;
    padding:12px 22px;
    border-radius:8px;
}
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:70px 80px;
    background:#fff7f2;
}
.hero-text{
    width:50%;
}
.hero-text h1{
    font-size:60px;
    margin-bottom:20px;
}
.hero-text p{
    font-size:18px;
    color:#555;
    margin-bottom:30px;
}
.hero-btn{
    background:#e85d04;
    color:white;
    padding:14px 30px;
    border-radius:8px;
}
.hero-image{
    width:45%;
}
#about{
    padding:80px 80px;
    background:#ffffff;

}
.about{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
}
.about-img{
    flex:1;
}
.about-img img{
    width:100%;
    border-radius:15px;
}
.about-content{
    flex:1;
}
.about-content h3{
    color:#e85d04;
    margin-bottom:10px;
}
.about-content p{
    color:#555;
    line-height:1.8;
    margin-bottom:25px;
}
.about-features{
    margin-top:40px;
}
.feature{
    margin-bottom:25px;
}
.feature h3{
    color:#222;
    margin-bottom:8px;
}
.feature p{
    margin-bottom:0;
}
#menu{
    padding:80px;
    background:#f8f8f8;
}
.section-title{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:#333;
}
.menu-container{
    display:flex;
    justify-content:space-between;
    gap:25px;
}
.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align:center;
}
.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}
.card h3{
    margin:20px 0 10px;
}
.card p{
    color:#e85d04;
    font-weight:bold;
    margin-bottom:20px;
}
#cta{
    background:#e85d04;
    color:white;
    text-align:center;
    padding:40px 20px;
}
.cta-content h2{
    font-size:42px;
    margin-bottom:20px;
}
.cta-content p{
    font-size:18px;
    margin-bottom:30px;
    line-height:1.6;
}
#cta .btn{
    background:white;
    color:#e85d04;
    padding:14px 30px;
    border-radius:8px;
    font-weight:600;
}
#cta .btn:hover{
    background:#f4f4f4;
}